.container {
  padding: 2rem;
}
.headerDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.noDataFoundDiv {
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}

.thead {
  color: var(--primary);
}
.td {
  padding: 1rem !important;
}

.editIcon {
  margin-right: 1rem;
}

.role {
  text-transform: capitalize;
}
