.container {
  padding: 5rem;
}
.formCol {
  padding: 0rem 10rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  margin-top: 1rem;
}

.back {
  width: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
