.image {
  width: 42rem;
}
.formBody {
  padding: 10rem 10rem;
}

.welcomeText {
  line-height: 0.1px;
  color: #858991;
}
.mainTitle {
  font-size: 2rem;
}

.submitBtn {
  margin-top: 1rem;
  width: 50rem;
}

.footerDiv {
  text-align: center;
  margin-top: 2rem;
}

.loginText {
  font-weight: 600;
  line-height: 1px;
  cursor: pointer;
  color: #256efd;
}
